@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "montserrat";
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
body{
    background-color: #101010;
}
h2{
    text-align: center; 
}
p{
    text-align: justify;
}
/****Cabeçalho***/
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 700px;
    background-color: #73737325;
    padding: 10px;
    margin-left: 600px;
    margin-right: 400px;
}

#cabecalho>nav>ul > li{
    display: inline-block;
}

#cabecalho >nav> ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    
}
/*****************************Banner*****************************/
#banner{
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 150px;
    font-size: 2.3rem;
    height: 330px;
}
/*****************************Cards-Equipe*****************************/
#equipe{
    display: flex;
    width: 98vw;
    margin-left: 350px;
}
.card-equipe{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    width: 320px;
    height: 350px;
    background-color: #009987;
}
.card-equipe> img{
    border-radius: 250px;
    margin-left: 5vw;
    width: 150px;
    height: 140px;
    background-size: cover;
    background-position: center;
    
}
#equipe>article:first-child{
    background-color: #C14000;
}
#equipe>article:last-child{
    background-color: #FFAA00;
}
/***************btns cards**************/

button{
    display: flex;
    width: 210px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 2px;
    border-color: white;
    margin-left: 60px;
    margin-top: 30px;
}

button > img{
    display: flex;
    margin-top: 2px;
    margin-left: 3px;
    width: 30px;
}
span{
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
}
#team1{
    background-color: #C14000;
}
#team2{
    background-color: #009987;
}
#team3{
    background-color: #FFAA00;
}

/*****************************Negócio*****************************/
#negocio{
    background-color: #73737325;
    color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 60px;
}

section#negocio > img{
    height: 100%;
    width: 35%;
    background-size: cover;
    background-position: center;
}

section#negocio > article > p{
    display: flex;
    margin-right: 15px;
    text-align: center;
    
    
}
#negocio>article>button{
    margin: 10px auto;
    background-color: #73737325;
    border-color: #c4c4c4;
    margin-top: 200px;
    align-items: center;
    width: 110px;
    height: 50px;
}
/*****************************Projetos recentes*****************************/
#projetos-com-imagens{
    display: flex;
    color: white;
    text-align: center;
    margin-top: 20px;
    
}


#projetos-com-imagens > article > h2{
    display: flex;
    color: white;
    background-position: center;
    margin-left: 1vw;
    flex-direction: column;
}

#projetos-com-imagens > article >p{
    text-align: center;
    margin: 20px 80px 20px 40px;
    /*
    display: flex;
    margin-left: 800px;
    margin-top: 3vw;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    margin-right: 15px;
    text-align: center;
    */
}

#projeto-recente{
    background-color: #73737325;
    display: flex;
    width: 5vw;
    margin-top: 20px;
    margin: 10px 950px 10px;
}

/*****************************Rodapé*****************************/
footer{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #73737325;
    height: 3vw;

}

footer > article> img{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5vw;
    width: 2vw;
    height: 2vw;
}

footer>p{
    display: flex;
    text-align: center;
    align-items: center;
}
#youtube{
    display: flex;
    margin-left: 50vw;
    width: 5px;
    height: 5px;
}
#facebook{
    display: flex;
    width: 5px;
    margin-left: 0;
    height: 5px;
}
#email{
    display: flex;
    width: 5px;
    margin-left: 0;
    height: 5px;
}
#google{
    display: flex;
    width: 5px;
    margin-left: 0;
    height: 5px;
    margin-right: 0;
}
/*#card-rodape{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}
*/



